div 智慧报表配色演示
//div Name:{{vm.name}}
//div Service:{{vm.service}}
div 颜色数量:{{vm.count}}
button(ng-click='vm.add()') add
button(ng-click='vm.reset()') reset
div(id="main" style="width: 1200px;height:400px;")



