.title 智慧报表配色演示
//div Name:{{vm.name}}
//div Service:{{vm.service}}
.middle 颜色数量:{{vm.count}}
.middle
    button(ng-click='vm.add()') add
    button(ng-click='vm.reset()') reset
.chart(id="main" style="width: 1200px;height:400px;")

table(id="example" class="stripe row-border order-column nowrap" cellspacing="0" width="100%")
    thead
        tr
            th First name
            th First name
            th First name
            th First name
            th First name
            th First name
            th First name
            th First name
            th First name
            th First name
            th First name
            th First name
            th First name
            th First name
    tbody
        tr
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
        tr
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
        tr
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
        tr
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
        tr
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
        tr
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
        tr
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
        tr
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
        tr
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
        tr
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
        tr
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
        tr
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
        tr
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
        tr
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
        tr
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
        tr
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
        tr
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
        tr
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger
            td  Tiger

