div PageA
div Name:{{vm.name}}
div Service:{{vm.service}}
div Count:{{vm.count}}
button(ng-click='vm.add()') add

button(ng-click='vm.getHttpRequest()') saiku请求



div(ng-repeat='item in vm.cellset')
    span(ng-repeat='row in item')
        span(ng-bind='row.value')
        span ]  [


